{% extends 'base.html' %}

{% block title %}Удаление события{% endblock title %}

{% block content %}
<div class="container">
    <h2>Подтвердите удаление события</h2>
    <p>Вы уверены, что хотите удалить событие <strong>{{ event.name }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'events:events_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock content %}
