{% extends 'base.html' %}

{% block title %}Создание события{% endblock title %}

{% block content %}
<h2>Создать событие</h2>
<div class="card">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != 'tags' %}
                <div class="form-group">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button class="btn" type="submit">Сохранить</button>
    </form>
</div>
{% endblock content %}
