{% extends 'base.html' %}

{% block title %}{{ event.name }}{% endblock title %}

{% block content %}
<h1>{{ event.name }}</h1>
<p><strong>Место проведения:</strong> {{ event.location }}</p>
<p><strong>Начало:</strong> {{ event.start_time }}</p>
<p><strong>Окончание:</strong> {{ event.end_time }}</p>
<p><strong>Описание:</strong> {{ event.description }}</p>
<p><strong>Организатор:</strong> {{ event.organizer }}</p>

{% if request.user == event.organizer or request.user.is_superuser %}
    <a href="{% url 'events:event_edit' event.id %}" class="btn">Редактировать</a>
    <a href="{% url 'events:event_delete' event.id %}" class="btn btn-danger">Удалить</a>
{% endif %}

{% if user.is_authenticated %}
    <form method="post" action="{% url 'registrations:register_for_event_specific' event.id %}">
        {% csrf_token %}
        <button type="submit">Зарегистрироваться</button>
    </form>
{% else %}
    <a href="{% url 'users:login' %}">Войдите для регистрации на мероприятие</a>
{% endif %}

{% endblock content %}
