{% extends 'base.html' %}


{% block content %}

<h1>{{ event.name }}</h1>
<p>Место проведения: {{ event.location }}</p>
<p>Начало: {{ event.start_time }}</p>
<p>Окончание: {{ event.end_time }}</p>
<p>Описание: {{ event.description }}</p>
<p>Организатор: {{ event.organizer }}</p>

<!--Показать кнопки редактирования и удаления только уполномоченным пользователям-->
{% if request.user == event.organiger or request.user.is_superuser %}
<a href="{% url 'events:edit_event' event.id %}">Редактировать</a>
<a href="{% url 'events:event_delete' event.id %}">Удалить</a>
{% endif %}

{% endblock content %}
