{% extends "base.html" %}

{% block title %}{{ equipment.name }}{% endblock title %}

{% block content %}
<h1>{{ equipment.name }}</h1>
<p>{{ equipment.description }}</p>
<p><strong>Количество:</strong> {{ equipment.quantity }}</p>

<a href="{% url 'equipment:equipment_edit' equipment.pk %}" class="btn">Редактировать</a>
<a href="{% url 'equipment:equipment_delete' equipment.pk %}" class="btn">Удалить</a>
<a href="{% url 'equipment:equipment_reserve' equipment.pk %}" class="btn">Забронировать</a>
<a href="{% url 'equipment:equipment_list' %}" class="btn">Назад к списку</a>
{% endblock content %}
