{% extends 'base.html' %}
{% load static %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
  <h1>Редактировать профиль</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_first_name">Имя:</label>
    <input type="text" name="first_name" id="id_first_name" value="{{ user.first_name }}"><br>

    <label for="id_last_name">Фамилия:</label>
    <input type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}"><br>

    {{ profile_form.as_p }}

    <button type="submit">Сохранить изменения</button>
  </form>
{% endblock %}
