{% extends 'base.html' %}

{% block title %}Редактировать профиль{% endblock title %}

{% block content %}
<h2>Редактировать профиль</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Сохранить</button>
</form>

{% if form.non_field_errors %}
<div class="messages error">{{ form.non_field_errors }}</div>
{% endif %}

{% for field in form %}
    {% for error in field.errors %}
        <div class="messages error">{{ error }}</div>
    {% endfor %}
{% endfor %}
{% endblock content %}
