{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock title %}

{% block content %}
<h1>Профиль {{ profile_user.username }}</h1>

<p><strong>Имя:</strong> {{ profile_user.first_name }}</p>
<p><strong>Фамилия:</strong> {{ profile_user.last_name }}</p>
<p><strong>Email:</strong> {{ profile_user.email }}</p>
<p><strong>О себе:</strong> {{ profile.bio|default:"Не указано" }}</p>

{% if profile_user == request.user %}
    <a class="btn" href="{% url 'users:edit_profile' %}">Редактировать профиль</a>
{% endif %}
{% endblock content %}
