{% extends "base.html" %}

{% block title %}Список клубов{% endblock title %}

{% block content %}
<h1>Клубы</h1>
<a href="{% url 'clubs:club_create' %}" class="btn">Создать новый клуб</a>
<div class="card">
    {% for club in clubs %}
        <div>
            <h2><a href="{% url 'clubs:club_detail' club.id %}">{{ club.name }}</a></h2>
            <p>{{ club.description|truncatechars:100 }}</p>
        </div>
    {% empty %}
        <p>Клубов пока нет.</p>
    {% endfor %}
</div>
{% endblock content %}