{% load tz %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WRC Sport Platform{% endblock title %}</title>

    {% load static %}
    <!--Ссылка на CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Блок позволяет добавить дополнительные стили и скрипты в дочерних шаблонах-->
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <header>
        <nav>
            <!-- Навигационная панель-->
            <ul>
                <li><a href="{% url 'main' %}">Главная</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                    <li><a href="{% url 'users:login' %}">Вход</a></li>
                {% else %}
                    <li><a href="{% url 'users:users_list' %}">Список пользователей</a></li>
                    <li><a href="{% url 'users:profile_view' request.user.id %}">Профиль</a></li>
                    <li><a href="{% url 'users:edit_profile' %}">Редактировать профиль</a></li>
                    <li><a href="{% url 'users:logout' %}">Выход</a></li>
                    <!-- Ссылки на страницы аналитики -->
                    <li><a href="{% url 'page_visits_chart' %}">Посещения страниц</a></li>
                    <li><a href="{% url 'user_actions_chart' %}">Действия пользователей</a></li>
                {% endif %}
                <!-- Прописать остальные ссылки-->
            </ul>
        </nav>

        <form method="get" action="{% url 'global_search' %}">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Поиск...">
            <button type="submit">Поиск</button>
        </form>
    </header>

    <main>
        {% block content %}
        <!--Основное содержание страницы-->
        {% endblock content %}
    </main>

    <footer>
        <p> {% now "Y" %} WRC Sports Platform</p>
    </footer>

    {% block extrajs %}
    <!-- Сюда можно добавлять дополнительные JavaScript файлы-->
    {% endblock extrajs %}
</body>
</html>
