{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WRC Sport Platform{% endblock title %}</title>

    <!--Ссылка на CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Блок позволяет добавить дополнительные стили и скрипты в дочерних шаблонах-->
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <header>
       <nav>
    <ul>
        <li><a href="{% url 'main' %}">Главная</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'users:users_list' %}">Пользователи</a></li>
            <li><a href="{% url 'users:profile_view' user.id %}">Профиль</a></li>
            <li><a href="{% url 'users:edit_profile' %}">Редактировать профиль</a></li>
            <li><a href="{% url 'users:logout' %}">Выход</a></li>
        {% else %}
            <li><a href="{% url 'users:register' %}">Регистрация</a></li>
            <li><a href="{% url 'users:login' %}">Вход</a></li>
        {% endif %}

        <!-- Основные разделы -->
        <li><a href="{% url 'events:events_list' %}">События</a></li>
        <li><a href="{% url 'clubs:club_list' %}">Клубы</a></li>
        <li><a href="{% url 'equipment:equipment_list' %}">Инвентарь</a></li>
        <li><a href="{% url 'schedules:schedule_list' %}">Расписания</a></li>
        <li><a href="{% url 'venues:venue_list' %}">Места проведения</a></li>

        <!-- Системные разделы -->
        <li><a href="{% url 'results:result_list' %}">Результаты</a></li>
        <li><a href="{% url 'registrations:registration_list' %}">Регистрации</a></li>
        <li><a href="{% url 'analytics:analytics_home' %}">Аналитика</a></li>
    </ul>
</nav>




        <form method="get" action="{% url 'global_search' %}">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Поиск...">
            <button type="submit">Поиск</button>
        </form>
    </header>

    <main>
        {% block content %}
        <!--Основное содержание страницы-->
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

        {% endblock content %}
    </main>

    <footer>
        <p> {% now "Y" %} WRC Sports Platform</p>
    </footer>

    {% block extrajs %}
    <!-- Сюда можно добавлять дополнительные JavaScript файлы-->
    {% endblock extrajs %}
</body>
</html>
