{% extends "base.html" %}

{% block title %}Входящие сообщения{% endblock title %}

{% block content %}
<h1>Сообщения</h1>
<a href="{% url 'communication:message_create' %}" class="btn">Написать сообщение</a>
<ul>
    {% for message in messages %}
        <li>
            <strong>От:</strong> {{ message.sender.username }}<br>
            <a href="{% url 'communication:message_detail' message.pk %}">
                {{ message.content|truncatewords:10 }}
            </a>
        </li>
    {% empty %}
        <li>У вас нет сообщений.</li>
    {% endfor %}
</ul>
{% endblock content %}
