{% extends 'base.html' %}


{% block content %}
<h2>Список запланированных событий</h2>
<a href="{% url 'schedules:create' %}">Создать новое событие</a>
<ul>
    {% for schedule in schedules %}
    <li>{{ schedule.title }} ({{ schedule.start_time }} - {{ schedule.end_time }})
        <a href="{% url 'schedule:schedule_detail' schedule.id %}">Просмотр</a>
        <a href="{% url 'schedule:schedule_edit' schedule.id %}">Редактирование</a>
        <a href="{% url 'schedule:schedule_delete' schedule.id %}">Удалить</a>
    </li>
    {% empty %}
    <li>Нет запланированных событий.</li>
    {% endfor %}
</ul>
{% endblock content %}
